/.tmp_new_connection.gjf
/.tmp_new_coords.gjf
/.vscode
/LICENSE
/log_com_files
/molup_cons4_ochcFC_ocSC1_QM.com
/molup_cons4_ochcFC_ocSC1_QM.pdb
/README.md
/wtApi_irc_full_pt28.com
/wtApi_irc_QM.gjf
/wtApi_irc_QM_pt28.com
/wtApi_irc_QM_pt28.pdb
/wtApi_tsall_QM.com
/wtApi_tsall_QM.pdb